.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.product-image-container {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  overflow: visible;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
  max-width: 280px;
}

.product-card:hover .product-image-container img {
  transform: scale(1.3);
}

.product-info {
  text-align: center;
}

.product-brand {
  font-size: 1.1rem;
  color: #1D4F90;
  margin-bottom: 5px;
  font-weight: 600;
}

.product-name {
  font-size: 0.95rem;
  color: #194e91;
  font-weight: 400;
}

